.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.navbar-links a{
    margin-right: 25px;
}

.logo{
    margin-left: 25px;
}